*{
    font-family: "League Spartan", sans-serif;
    padding: 0px;
    margin: 0px;
}
nav{
    position: fixed;
    top:0px;
    z-index: +1;
    mix-blend-mode:darken; 
    backdrop-filter: blur(4px);

}
.logo{
    align-items: center;
    margin-left: 80px;
    z-index: +1;
}
.logo h3{
    font-family: "Satisfy", cursive;
    font-weight: 600;
    margin-left: 6px;

}
.nav{
    width: 100%;
    align-items: center;
    
}
.hero
{
    background-image: url('https://images.unsplash.com/photo-1530841377377-3ff06c0ca713?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    opacity: 100%;
    height: 860px;
    background-attachment: fixed;
    object-fit: fill;
    background-position: center;
    
}
.list a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
}
.list a:hover{
    color: rgb(0, 112, 163);
}
.menu
{
    margin-right: 40px;
}
.leftnav{
    margin-right: 80px;
}
.hero h1{
    position: absolute;
    left: 80px;
    top: 35%;
    font-size: 48px;
    font-weight: 700;
    
}
.hero p{
    color:rgb(0, 0, 0);
    width: 700px;
    position: absolute;
    top: 45%;
    left: 80px;
    font-size: 20px;
    font-weight: 600;
    mix-blend-mode:hard-light;
}
.hero button{
    position: absolute;
    left: 80px;
    width: 400px;
    padding: 16px;
    top: 55%;
    background: transparent;
    border: 2px solid;
    font-size: 20px;
    font-weight: 700;
}
.hero button:hover{
    background: rgb(0, 112, 163);
    color: white;
    border: none;
}
.dest h4{
    margin-top: 60px;
    align-items: center;
    font-weight: 800;
}
.rows{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 2px solid rgba(86, 86, 86, 0.377);
}
.location{
    align-items: center;
    text-align: center;
}
.location img{
    mix-blend-mode: darken;
    box-shadow: 0px 1px 20px rgba(1, 1, 1, 0.281);
}
.location h5{
    width: 100%;
    margin-top: 12px;
    font-weight: 700;
}
.discover h1{
    font-size: 48px;
    font-weight: 900;
}
.discover p{
    font-size: 20px;
    width: 400px;
}
.destin{
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 120px;
}
.discover button{
    padding: 16px;
    background: transparent;
    border: 2px solid;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
}
.discover button:hover{
    background: rgb(0, 112, 163);
    color: white;
    border: none;
}
.discover{
    margin-left: 180px;
}
.caro{
    width: 850px;
    margin-top: 60px;

}
.abt{
    margin-left: 80px;
    margin-right: 80px;
}
.abt h4{
    align-items: center;
    font-weight: 800;
}
.cont
{
    width: 600px;
    padding-top:60px;
    margin-left: 60px;
    padding-bottom: 60px;
}
.cont h1{
    font-weight: 800;
    margin-bottom: 30px;
}
.cont p{
    font-size: 20px;
    font-weight: 500;
}

.vlog
{
    background-image: url('https://images.unsplash.com/photo-1486037242572-f25faf7505e3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    opacity: 100%;
    height: 860px;
    background-attachment: fixed;
    object-fit: fill;
    background-position: center;
    
}
.vlogcapo h2{
    color: white;
    position: relative;
    width: 700px;

    top: 300px;
    left: 80px;
    font-size: 48px;
    font-weight: 900;
}
.vlogcapo h1{
    color: white;
    position: relative;
    width: 650px;
    top: 300px;
    left: 80px;
    font-size: 56px;
    font-weight: 900;
}
.vlogcapo p{
    color: white;
    position: relative;
    top: 312px;
    left: 80px;
    font-size: 20px;
    font-weight: 500;
    width: 600px;
}
.vlogcapo button{
    padding: 20px 16px 16px 16px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    position: relative;
    top: 320px;
    left: 80px;
    background-color:black ;
    color: white;
}
.vlogcapo button:hover{
    background: rgb(0, 112, 163);
    color: white;
    border: none;
}
.article{
    background-color: white;
    width: fit-content;
    padding: 60px 40px;
    position: relative;
    top: -100px;
    left: 850px;
    border-radius: 30px;
}
.art h4{
    font-weight: 600;
}
.art p{
    width: 400px;
}
.spots{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
}
.spots h4{
    margin-top: 60px;
    align-items: center;
    font-weight: 800;
}
.row1{
    margin-top: 40px;
}
.dest1{
    position: relative;
}
.pname{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        color: transparent; /* Text color */
        padding-top: 121px;
        padding-bottom: 123px;
}
.pname:hover{
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    filter: contrast(110%);


}
.pname h2{
    z-index: +1;
    font-weight: 900;
    width: 500px;
}
.foot{
    padding: 80px;
    background-color: rgb(250, 249, 249);
    box-shadow: 0px -1px  8px rgba(0, 0, 0, 0.131);
    color: black;
}
.list{
    align-items: start;
}
.list a{
    font-weight: 600;
}
.list li{
    margin-top: 12px;
}
.footlogo h3{
    font-family: "Satisfy", cursive;
    font-weight: 600;
    padding-left: 8px;
}
